@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100vh;
}

/* 
Gradients:
https://webflow.com/blog/elegant-color-palettes?utm_source=google&utm_medium=search&utm_campaign=SS-GoogleSearch-Nonbrand-DynamicSearchAds-Tier3&utm_term=dsa-1480385100845___697641339341__&gad_source=1&gclid=EAIaIQobChMIsI6cyrSaiAMVfAuiAx3zFxYCEAAYASAAEgJzIvD_BwE
3: Hex codes: soft mint green #D1E8E2, deep teal #19747E, light sky blue #A9D6E5, light gray #E2E2E2
*/

/* Only show images when display is over 500px wide x 750px tall OR over 1000px tall */
@media (max-height: 750px), (max-height:1000px) and (max-width: 500px){
  .horizontalscrollcontainer {
    display: none;
  }
}
:root {
  --primary: #D1E8E2;
  --secondary: #19747E;
  --accent: #A9D6EA;
  --background: #E2E2E2;
  --text: #19747E;
}

/* Filter button */
.filterButton{
  padding: 10px 5px;
  width: 100%;
  border: 2px solid var(--text);
  border-radius: 10px;
  color: var(--text);
}

.filterButtonToggled{
  background-color: var(--secondary);
  color: var(--primary);
  transition: all 0.5s;
}

/* "Swipe up" prompt icon */
.scrolldownAnimation{
  animation: updown  ease-in-out 4s infinite;
}

@keyframes updown{
  0% {transform: translateY(0em); color: #2095a2;}
  50% {transform: translateY(-0.5em); color: #0db9cf;}
  100% {transform: translateY(0em); color: #2095a2;}
}

/* Portfolio Detail View */
.animateload {
   /* Slide in animation for title text in header component  */
  animation: slidein 0.5s ease;
}

/* Portfolio item card */
.card {
  background: linear-gradient(160deg, var(--primary) 20%, var(--accent));
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for default card */
  animation: spinBackgroundReverse 1s linear;
  border: 3px solid white;
  
}
.card:hover {
  background: linear-gradient(75deg, var(--primary) 40%, var(--accent));
  animation: spinBackground 1s linear;
}

@keyframes slidein {
  0% {transform: translateX(-1em); opacity: 0.5;}
  100% {transform: translateX(0); opacity: 1;}
}

@keyframes spinBackground {
  0% {background: linear-gradient(160deg, var(--primary) 20%, var(--accent));}
  10% {background: linear-gradient(155deg, var(--primary) 22%, var(--accent));}
  20% {background: linear-gradient(150deg, var(--primary) 24%, var(--accent));}
  30% {background: linear-gradient(145deg, var(--primary) 26%, var(--accent));}
  40% {background: linear-gradient(130deg, var(--primary) 28%, var(--accent));}
  50% {background: linear-gradient(117deg, var(--primary) 30%, var(--accent));}
  60% {background: linear-gradient(105deg, var(--primary) 32%, var(--accent));}
  70% {background: linear-gradient(90deg, var(--primary) 34%, var(--accent));}
  80% {background: linear-gradient(85deg, var(--primary) 36%, var(--accent));}
  90% {background: linear-gradient(80deg, var(--primary) 38%, var(--accent));}
  100% {background: linear-gradient(75deg, var(--primary) 40%, var(--accent));}
}
@keyframes spinBackgroundReverse {
  100% {background: linear-gradient(160deg, var(--primary) 20%, var(--accent));}
  85% {background: linear-gradient(157.5deg, var(--primary) 20%, var(--accent));}
  90% {background: linear-gradient(155deg, var(--primary) 22%, var(--accent));}
  85% {background: linear-gradient(152.5deg, var(--primary) 22%, var(--accent));}
  80% {background: linear-gradient(150deg, var(--primary) 24%, var(--accent));}
  75% {background: linear-gradient(147.5deg, var(--primary) 24%, var(--accent));}
  70% {background: linear-gradient(145deg, var(--primary) 26%, var(--accent));}
  60% {background: linear-gradient(130deg, var(--primary) 28%, var(--accent));}
  50% {background: linear-gradient(117deg, var(--primary) 30%, var(--accent));}
  40% {background: linear-gradient(105deg, var(--primary) 32%, var(--accent));}
  30% {background: linear-gradient(90deg, var(--primary) 34%, var(--accent));}
  20% {background: linear-gradient(85deg, var(--primary) 36%, var(--accent));}
  10% {background: linear-gradient(80deg, var(--primary) 38%, var(--accent));}
  0% {background: linear-gradient(75deg, var(--primary) 40%, var(--accent));}
}
/* 
perfectly linear
@keyframes spinBackground {
  0% {background: linear-gradient(160deg, var(--primary) 20%, var(--secondary));}
  10% {background: linear-gradient(151.5deg, var(--primary) 22%, var(--secondary));}
  20% {background: linear-gradient(143.5deg, var(--primary) 24%, var(--secondary));}
  30% {background: linear-gradient(134.5deg, var(--primary) 26%, var(--secondary));}
  40% {background: linear-gradient(126deg, var(--primary) 28%, var(--secondary));}
  50% {background: linear-gradient(117.5deg, var(--primary) 30%, var(--secondary));}
  60% {background: linear-gradient(109deg, var(--primary) 32%, var(--secondary));}
  70% {background: linear-gradient(100.5deg, var(--primary) 34%, var(--secondary));}
  80% {background: linear-gradient(92deg, var(--primary) 36%, var(--secondary));}
  90% {background: linear-gradient(83.5deg, var(--primary) 38%, var(--secondary));}
  95% {background: linear-gradient(79.25deg, var(--primary) 39%, var(--secondary));}
  100% {background: linear-gradient(75deg, var(--primary) 40%, var(--secondary));}
} */



/* 
  .card-before {
  width: 78vh;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: -20vh;
  animation: shrink 1s ease;
}
.card-main{
  border: 2px solid red;
  margin-bottom: 0vh;
    animation: grow 1s ease;  

}

.card{
  border: 2px solid black;
}

@keyframes shrink {
  0% { width: 80vh; margin-left: 0vh; margin-right: 0vh; margin-bottom: 0vh;}
  100% { width: 78vh; margin-left: 1vh; margin-right: 1vh; margin-bottom: -20vh}
}
@keyframes grow {
  0% { width: 70vh; margin-left: 5vh; margin-right: 5vh;}
  100% { width: 80vh; margin-left: 0vh; margin-right: 0vh;}

}  
  
@keyframes mainCard {
  0% { height: 40vh;}
  100% { height: 80vh;}
}
@keyframes collapseCard {
  0% { height: 80vh;}
  100% { height: 40vh;}
}  
  .on-top{
  z-index: 10;
  font-size: 14px;
  position: absolute;
  top: 5px;
  background-color: aqua;
  border-color: blueviolet;
  height: 5vh;
  padding: 0.5vh;
  margin: 1vh;
  border-radius: 6px;
}
.behind{
  font-size: 10px;
  z-index: 1;
  position: relative;
  height: 4vh;
  padding: 0vh;
  margin: -10px;

  background-color: azure;
  border-color: blueviolet;
  border-radius: 6px;
}  
  
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}   */
